.recent-events-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.carousel {
  @apply flex overflow-x-auto p-2;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .carousel {
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
  }
}

/* Image Modal */
.overlay {
  @apply z-50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.541);
  display: flex;
  align-items: center;
}

.overlay img {
  @apply max-w-[34%] max-h-full md:max-w-[80%];
  display: block;
  /* max-width: 34%;
  max-height: 100%; */
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}

.overlay>span {
  @apply z-10;
  @apply text-light;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
}

.overlay-arrows_left {
  @apply w-[40px] h-[40px] md:w-[30px] md:h-[30px] text-light rounded-lg;
  display: flex;
  background-color: #6d6d6d;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 999;
}

.overlay-arrows_left svg {
  @apply w-[40px] h-[40px] md:w-[30px] md:h-[30px];
}

.overlay-arrows_right svg {
  @apply w-[40px] h-[40px] md:w-[30px] md:h-[30px];
}

.overlay-arrows_right {
  @apply w-[40px] h-[40px] md:w-[30px] md:h-[30px] text-light rounded-lg;
  display: flex;
  background-color: #6d6d6d;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 999;
}


.whiskey-cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* padding: 48px 48px 0 48px; */

}

.whiskey-cards::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
}

.whiskey-cards::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0, 0, 0, .5);
  background: linear-gradient(90deg, #02bcf5, #0073e6, #003ab9, #635bff);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  border-radius: 16px;
  opacity: .5;
}

.whiskey-cards:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

.whiskey-card {
  display: flex;
  flex-direction: column;
  min-width: 244px;
  flex-basis: 244px;
  border-radius: 16px;
  margin: 8px;
  padding: 16px;
  box-shadow: 0 -16px 24px rgb(0 0 0 / 5%);
  color: #ffffff;

  transition: all 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.whiskey-card:hover {
  background-color: #0a2540 !important;
  transform: scale(1.04) translateY(-16px);
  box-shadow: 0 -16px 24px rgb(0 0 0 / 10%);
}

.whiskey-card h3 {
  padding-top: 0;
  line-height: 1.35;
}

.whiskey-card .whiskey-card--content {
  line-height: 1.5;
  font-size: 15px;
  font-weight: 300;
}

.whiskey-card .whiskey-card--content img {
  max-width: 100%;
}

.whiskey-card .whiskey-card--link {
  line-height: 1.5;
  font-size: 15px;
  font-weight: 700;
  opacity: .7;
  margin: auto 0 0 0;
}

.whiskey-card h3 a,
.whiskey-card .whiskey-card--link a {
  color: #ffffff;
}

.whiskey-card .whiskey-card--link a svg {
  --arrowSpacing: 5px;
  --arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  --arrowHoverOffset: translateX(3px);
  --arrowTipTransform: none;
  --arrowLineOpacity: 0;
  position: relative;
  top: 1px;
  margin-left: var(--arrowSpacing);
  stroke-width: 2px;
  fill: none;
  stroke: currentColor;
}

.HoverArrow__linePath {
  opacity: var(--arrowLineOpacity);
  transition: opacity var(--hoverTransition, var(--arrowHoverTransition));
}

.HoverArrow__tipPath {
  transform: var(--arrowTipTransform);
  transition: transform var(--hoverTransition, var(--arrowHoverTransition));
}

.whiskey-card:hover .HoverArrow__linePath {
  --arrowLineOpacity: 1;
}

.whiskey-card:hover .HoverArrow__tipPath {
  --arrowTipTransform: var(--arrowHoverOffset);
}