@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
/* @import url("../../public/assets/fonts/google/product-sans.css");
@import url("../../public/assets/fonts/other/carpenter/carpenter.css");
@import url("../../public/assets/fonts/other/neue-montreal/neue-montreal.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

/* custom css */
@import url("./Buttons.module.css");
@import url("./Events.module.css");
@import url("./Hero.module.css");
@import url("./Profilecard.module.css");
@import url("./ProfileAboutSection.module.css");
@import url("./Header.module.css");

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-rammetto-one {
  font-family: "Rammetto One", sans-serif;
}

.font-product-sans {
  font-family: "Product Sans", sans-serif;
}

.font-carpenter-sans {
  font-family: "Carpenter", sans-serif;
}

.font-neue-montreal-sans {
  font-family: "Carpenter", sans-serif;
}

.font-quicksand-sans {
  font-family: "Quicksand", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-style: normal;

}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition: 0.5s;
  /* font-family: 'Roboto', sans-serif; */
  @apply bg-light dark:bg-dark font-medium;


  /* scrollbar */
  &::-webkit-scrollbar {
    transition: background-color 0.5s;
    @apply w-[14px] h-1 theme-transition;
  }

  &::-webkit-scrollbar-track {
    @apply dark:bg-[#202324] bg-[#f1f1f1] px-10;
    transition: background-color 0.5s;
  }

  &::-webkit-scrollbar-track-piece {
    @apply dark:bg-dark bg-light;
    transition: background-color 0.5s;
  }

  &::-webkit-scrollbar-corner {
    @apply dark:bg-dark bg-light;
  }

  &::-webkit-resizer {
    @apply dark:bg-[#202324] bg-[#616161];
  }

  &::-webkit-scrollbar-thumb {
    @apply dark:bg-[#454a4d] bg-[#9d9d9d] rounded-full;
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #aaaaaa;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply dark:bg-[#575e62] bg-[#787878];
  }

  /* Buttons */
  &::-webkit-scrollbar-button:single-button {
    @apply dark:hover:bg-[#454a4d] hover:bg-[#9d9d9d] rounded-sm;
    /* background-color: #ffffff; */
    display: block;
    border-style: solid;
    height: 9px;
    width: 8px;
  }

  /* Up */
  &::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 7px 8px;
    @apply border-transparent border-b-[#454a4d] dark:border-b-[#9d9d9d];
    /* border-color: transparent transparent #555555 transparent; */
  }

  &::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    @apply border-transparent border-b-[#454a4d] dark:border-b-[#9d9d9d];
  }

  /* Down */
  &::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 7px 0 8px;
    @apply border-transparent border-t-[#454a4d] dark:border-t-[#9d9d9d];
  }

  &::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    @apply border-transparent border-t-[#454a4d] dark:border-t-[#9d9d9d];
  }
}

.dark,
.theme-transition {
  @apply bg-light dark:bg-dark text-dark dark:text-light;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.selector-none {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::selection {
  @apply bg-dark dark:bg-light text-light dark:text-dark;
  /* color: black;
  background: white; */
  text-shadow: 1px 1px 2px #008cff;
  outline: 2px solid rgb(54, 115, 255);
  caret-color: rgb(32, 19, 23);
}

::-moz-selection {
  @apply bg-dark dark:bg-light text-light dark:text-dark;
  /* color: black;
  background: white; */
  text-shadow: 1px 1px 2px rgba(0, 119, 255, 0.5);
  outline: 2px solid rgb(54, 115, 255);
  caret-color: rgb(32, 19, 23);
}

::-webkit-selection {
  @apply bg-dark dark:bg-light text-light dark:text-dark;
  /* color: black;
  background: white; */
  text-shadow: 1px 1px 2px rgba(0, 119, 255, 0.5);
  outline: 2px solid rgb(54, 115, 255);
  caret-color: rgb(32, 19, 23);
}

main {
  transition: 0.5s;
  @apply bg-light dark:bg-dark;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.animate-bounce {
  animation: bounce 1.8s infinite;
}

.customScrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  scroll-behavior: smooth;
}

.not-sticky {
  position: static;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #0099ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}